# ---------- OLD ENVS:
# INLINE_RUNTIME_CHUNK=false
# NODE_ENV=development
# REACT_APP_BUILD_ENV=development
# PORT=80
# REACT_APP_RECAPTCHA_SITE_KEY=
# REACT_APP_NAME=MAVRYK
# REACT_APP_NETWORK=ghostnet
# REACT_APP_API_NETWORK=ghostnet
# REACT_APP_ADMIN=tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb
# REACT_APP_RPC_TZKT_API=https://api.ghostnet.tzkt.io
# REACT_APP_GRAPHQL_API='https://api.mavryk.finance/v1/graphql'
# REACT_APP_GRAPHQL_WSS_API='wss://api.mavryk.finance/v1/graphql'
# REACT_APP_DEV_GRAPHQL_API='https://api.mavryk.finance/v1/graphql'
# REACT_APP_BACKUP_GRAPHQL_API='https://api-staging.mavryk.finance/v1/graphql'
# REACT_APP_BACKUP_GRAPHQL_WSS_API='wss://api-staging.mavryk.finance/v1/graphql'
# REACT_APP_CHAIN_ID='NetXnHfVqm9iesp'
# WERT_IO_ORIGIN='https://sandbox.wert.io'

# DAPP env (dev | prod)
REACT_APP_ENV=dev

# 3rd patry api (REACT_APP_TZKT_API = https://api.ghostnet.tzkt.io | https://api.tzkt.io)
REACT_APP_TZKT_API=https://api.ghostnet.tzkt.io
REACT_APP_WERT_API='https://sandbox.wert.io'

# indexer api
REACT_APP_GRAPHQL_API='https://api-v2.mavryk.finance/v1/graphql'
REACT_APP_GRAPHQL_WSS_API='wss://api-v2.mavryk.finance/v1/graphql'

# project metadata (REACT_APP_NETWORK = ghostnet | mainnet)
REACT_APP_NAME=MAVRYK
REACT_APP_NETWORK='ghostnet'

# cloudlfare env variables (IPFS_API_KEY & IPFS_PROJECT_ID both are encrypted and not set on local)
IPFS_API_KEY=''
IPFS_PROJECT_ID=''
NODE_VERSION='16.13.0'