# VITE_DATA_ENV env for loading data (dev | prod)
VITE_DATA_ENV=prod

# VITE_ENV env for working env, hiding logs, disabling on prod smth, etc... (dev | prod)
VITE_ENV=prod

# 3rd party api
VITE_TZKT_API=https://api.ghostnet.tzkt.io
VITE_TZKT_LINK=https://ghostnet.tzkt.io
VITE_TZKT_SERVICE_API=https://services.tzkt.io
VITE_WERT_API=https://sandbox.wert.io

# indexer api
VITE_GRAPHQL_API=https://api.mavenfinance.io/v1/graphql
VITE_GRAPHQL_WSS_API=wss://api.mavenfinance.io/v1/graphql

# project metadata (VITE_NETWORK = ghostnet | mainnet)
VITE_NAME=MAVEN
VITE_NETWORK=ghostnet

# cloudflare env variables (IPFS_API_KEY & IPFS_PROJECT_ID both are encrypted and not set on local)
VITE_IPFS_API_KEY=''
VITE_IPFS_PROJECT_ID=''
VITE_MAINTANCE_MODE=off
